<section class="contact-page">
    <h1>Contact Us</h1>
    <div class="contact">
        <h2>About Brain Burst</h2>
        <p>
            Brain Burst is a platform dedicated to expanding your knowledge through engaging quizzes and exercises.
            Choose from a variety of quizzes designed to challenge your logic, enhance your vocabulary, and promote mindful thinking.
            Join us on a journey of mental exploration and growth.
        </p>
        <form onSubmit={handleSubmit}>
            <input
                type="text"
                name="from_name"
                placeholder="Enter your full name"
                required
            />
            <input
                type="email"
                name="email"
                placeholder="Enter your email address"
                required
            />
            <textarea
                name="message"
                rows="7"
                placeholder="Type your message here"
                required
            ></textarea>
            <button type="submit" id="contact__btn" className="btn btn-primary">
                Submit
            </button>
        </form>
        <h2>Contact Information</h2>
        <p>Email: contact@brainburst.com</p>
        <p>Phone: 123-456-7890</p>
    </div>
</section>
