{{!-- {{quiz page

quiz box

    timer

}} --}}
<div class="question-box">
    <div class="question">Which of the following is the capital of France?</div>
    <form id="quiz-form">
        <ul class="options">
            <li class="option"><label><input type="radio" name="answer" value="paris"> Paris</label></li>
            <li class="option"><label><input type="radio" name="answer" value="london"> London</label></li>
            <li class="option"><label><input type="radio" name="answer" value="berlin"> Berlin</label></li>
            <li class="option"><label><input type="radio" name="answer" value="rome"> Rome</label></li>
        </ul>
        <button type="submit" class="submit-btn">Submit</button>
    </form>
</div>
