<section>
    <div class="logo">
       <img src="/img/logo.png" alt="Logo"> 
       <h1>Welcome to Brain Burst Quiz</h1>
        <h2>Select Quiz</h2>
    </div>
    <div class="quizselect">
            <button  id="quizbtn" onclick="window.location.href='http://localhost:3001/quiz/1'">
                <img class="icon" src="./assets/01-logic.png" alt="Logic Lunacy">
                <a class="text">Logic Lunacy</a>
            </button>
            <button id="quizbtn" onclick="window.location.href='http://localhost:3001/quiz/2'">
                <img class="icon" src="./assets/02-word.png" alt="Word Wizardry">
                <a class="text">Word Wizardry</a>
            </button>
            <button id="quizbtn" onclick="window.location.href='http://localhost:3001/quiz/3'">
                <img class="icon" src="./assets/03-mindful.png" alt="Mindful Meditation">
                <a class="text">Mindful Meditation</a>
            </button>
    </div>
</section>
